name: release-pull-request
on:
  push:
    branches:
      - 'release/**'
jobs:
  release-pull-request:
    name: Create Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: release-pull-request
        uses: vsoch/pull-request-action@1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_PREFIX: 'release/'
          PULL_REQUEST_BRANCH: 'master'
          PULL_REQUEST_TITLE: '${{ github.ref_name }}'
          PULL_REQUEST_BODY: 'New Release PR'
